.ListElement {
  list-style: none;
  width: 100%;
}

.ListElement-wrapper {
  margin: 0 auto;
  display: grid;
  padding: 0 4%;
  grid-template-columns: 10% 10% 60% 10% 10%;
}

.ListElement-wrapper p {
  padding-right: 20px;
}

.dropdown {
  background-color: tomato;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.hidden {
  display: none;
}

.editBtn {
  padding-left: 20px;
  background-image: url('../../edit.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.deleteBtn {
  padding-left: 20px;
  background-image: url('../../delete.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}
