body {
  margin: 0;
  background-color: white; }

.landing-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 125px;
  text-align: center; }
  .landing-logo img {
    width: 45px;
    height: 45px; }
  .landing-logo p {
    font-size: 24px;
    color: #21232e;
    font-family: "Source Sans Pro", sans-serif; }
  .landing-logo span {
    display: block;
    font-size: 10px;
    color: #21232e;
    font-family: "Source Sans Pro", sans-serif; }

.header {
  background: url("../img/m-h-day.jpg");
  width: 1920px;
  background-size: cover;
  background-position: 50%;
  border-radius: 0 0 688px 0 / 0 0 340px 0; }
  .header-wrap {
    display: flex;
    margin: 0 auto;
    flex-flow: column;
    width: 1536px; }
    .header-wrap div:last-of-type {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      padding-top: 50px;
      padding-bottom: 171px;
      width: 482px; }
  .header_heading {
    margin: 0;
    width: 550px;
    color: #21232e;
    font-size: 72px;
    line-height: 81px;
    padding-top: 33px;
    position: relative;
    z-index: 1;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700; }
    .header_heading::after {
      top: 140px;
      width: 302px;
      height: 51px;
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      background-color: #14a0c7; }
  .header_text {
    color: #21232e;
    padding-top: 38px;
    white-space: pre-line;
    line-height: 22px;
    font-family: "Source Sans Pro", sans-serif;
    color: rgba(255, 255, 255, 0.836); }
  .header_button {
    background-color: #699900;
    width: 140px;
    height: 50px;
    color: rgba(255, 255, 255, 0.836);
    font-size: 16px;
    font-weight: 700;
    border: 0;
    border-radius: 4px; }

.login {
  font-size: 19px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.836); }

.section_card_right_container, .section_card_wrap {
  width: 460px;
  margin: 0 auto; }

.section_text {
  text-align: center;
  font-size: 40px;
  color: #21232e;
  margin: 0;
  padding-top: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 1; }
  .section_text::after {
    top: 31px;
    left: 954px;
    width: 201px;
    height: 47px;
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    background-color: #14a0c7; }
.section_card {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: nowrap;
  background-color: #21232e;
  border-radius: 10px;
  margin: 20px 0px; }
  .section_card_wrap {
    width: 1100px;
    padding-top: 13px; }
  .section_card_img {
    width: 420px;
    height: 280px;
    margin: 20px;
    border-radius: 10px; }
  .section_card_heading {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-top: 43px;
    font-family: "Source Sans Pro", sans-serif;
    color: rgba(255, 255, 255, 0.836); }
  .section_card_text {
    display: block;
    padding-top: 15px;
    padding-bottom: 40px;
    font-family: "Source Sans Pro", sans-serif;
    color: rgba(255, 255, 255, 0.836); }
.section_link {
  padding-left: 180px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.836); }
.section_banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  position: relative;
  top: 100px;
  width: 1175px;
  height: 143px;
  border-radius: 10px;
  background: linear-gradient(90deg, #649410 0%, #305ecd 100%); }
  .section_banner_heading {
    color: #21232e;
    font-size: 30px;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    position: relative;
    z-index: 1; }
    .section_banner_heading::after {
      top: -8px;
      left: 119px;
      width: 68px;
      height: 47px;
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      background-color: #14a0c7; }
  .section_banner_text {
    font-family: "Source Sans Pro", sans-serif;
    color: rgba(255, 255, 255, 0.836); }
  .section_banner_button {
    background-color: #699900;
    width: 140px;
    height: 50px;
    color: rgba(255, 255, 255, 0.836);
    font-size: 16px;
    font-weight: 700;
    border: 0;
    border-radius: 4px; }

.footer {
  width: 1920px;
  height: 230px;
  background-color: #21232e;
  margin-top: 25px; }
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding-top: 113px;
    width: 1540px; }
  .footer_text {
    width: 310px;
    font-family: "Source Sans Pro", sans-serif;
    color: rgba(255, 255, 255, 0.836); }
  .footer_logo p,
  .footer span {
    font-family: "Source Sans Pro", sans-serif;
    color: rgba(255, 255, 255, 0.836); }
