@mixin mixButtons {
  background-color: $button_color;
  width: 140px;
  height: 50px;
  color: rgba(255, 255, 255, 0.836);
  font-size: 16px;
  font-weight: map-get($map: $font-weights, $key: "bold");
  border: 0;
  border-radius: 4px;
}

@mixin greyFont {
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.836);
}

@mixin boldFont {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: map-get($map: $font-weights, $key: "bold");
}

@mixin relativePos {
  position: relative;
  z-index: 1;
}

@mixin emphasized {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  background-color: $emphasized_color;
}

$font-weights: (
  "medium": 600,
  "bold": 700
);

body {
  margin: 0;
  background-color: $background_color;
}

.landing-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  text-align: center;

  img {
    width: 45px;
    height: 45px;
  }

  p {
    font-size: 24px;
    color: $logo_color;
    font-family: "Source Sans Pro", sans-serif;
  }

  span {
    display: block;
    font-size: 10px;
    color: $logo_color;
    font-family: "Source Sans Pro", sans-serif;
  }
}

.header {
  background: url($background_url);
  width: 1920px;
  background-size: cover;
  background-position: 50%;
  border-radius: 0 0 688px 0 / 0 0 340px 0;

  &-wrap {
    display: flex;
    margin: 0 auto;
    flex-flow: column;
    width: 1536px;

    div:last-of-type {
      padding-top: 50px;
      padding-bottom: 171px;
      display: flex;
      width: 482px;
      justify-content: space-between;
      align-items: center;
    }
  }

  &_heading {
    margin: 0;
    width: 550px;
    color: $logo_color;
    font-size: 72px;
    line-height: 81px;
    padding-top: 33px;
    @include relativePos;
    @include boldFont;

    &::after {
      top: 140px;
      width: 302px;
      height: 51px;
      @include emphasized;
    }
  }

  &_text {
    color: $logo_color;
    font-family: "Source Sans Pro", sans-serif;
    padding-top: 38px;
    width: 580px;
    line-height: 22px;
  }

  &_button {
    @include mixButtons;
  }
}

.login {
  font-size: 19px;
  font-weight: map-get($map: $font-weights, $key: "medium");
  @include greyFont;
}

.section_card_right_container {
  width: 460px;
  margin: 0 auto;
}

.section {
  &_text {
    text-align: center;
    font-size: 40px;
    color: $logo_color;
    margin: 0;
    padding-top: 30px;
    @include boldFont;
    @include relativePos;

    &::after {
      top: 31px;
      left: 954px;
      width: 201px;
      height: 47px;
      @include emphasized;
    }
  }

  &_card {
    display: flex;
    justify-content: space-between;
    background-color: $card_color;
    border-radius: 10px;
    margin: 20px 0px;

    &_wrap {
      @extend .section_card_right_container;
      width: 1100px;
      padding-top: 13px;
    }

    &_img {
      width: 420px;
      height: 280px;
      margin: 20px;
      border-radius: 10px;
    }

    &_heading {
      text-align: center;
      font-size: 25px;
      font-weight: map-get($map: $font-weights, $key: "medium");
      padding-top: 43px;
      @include greyFont;
    }

    &_text {
      display: block;
      padding-top: 15px;
      padding-bottom: 40px;
      @include greyFont;
    }
  }

  &_link {
    padding-left: 180px;
    @include greyFont;
  }

  &_banner {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 100px;
    width: 1175px;
    height: 143px;
    border-radius: 10px;
    background: linear-gradient(
      90deg,
      $gradient_first_color 0%,
      $gradient_second_color 100%
    );

    &_heading {
      color: $logo_color;
      font-size: 30px;
      margin: 0;
      @include boldFont;
      @include relativePos;

      &::after {
        top: -8px;
        left: 119px;
        width: 68px;
        height: 47px;
        @include emphasized;
      }
    }

    &_text {
      @include greyFont;
    }

    &_button {
      @include mixButtons;
    }
  }
}

.footer {
  width: 1920px;
  height: 230px;
  background-color: $card_color;
  margin-top: 25px;

  &-wrap {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 113px;
    width: 1540px;
  }

  &_text {
    width: 310px;
    @include greyFont;
  }

  &_logo p,
  span {
    @include greyFont;
  }
}
