$background_url: "../img/m-h-night.jpg";

$background_color: #21232e;

$card_color: #3b3f50;

$logo_color: white;

$button_color: #e3ac00;

$gradient_first_color: #dea405;

$gradient_second_color: #96324e;
