$background_url: "../img/m-h-day.jpg";

$background_color: white;

$card_color: #21232e;

$logo_color: #21232e;

$button_color: #699900;

$gradient_first_color: #649410;

$gradient_second_color: #305ecd;

$emphasized_color: #14a0c7;
