<div>
  <button type="button" (click)="backToMainPage()">Back to main page</button>
  <p>New User</p>
  <form class="form" [formGroup]="form">
    <div>
      <p>Name*</p>
      <input
        required
        class="name-input"
        formControlName="name"
        [ngClass]="{
          'invalid-input': form.get('name').invalid && form.get('name').touched
        }"
      />
    </div>

    <div>
      <p>Email*</p>
      <input
        required
        class="email-input"
        formControlName="email"
        [ngClass]="{
          'invalid-input':
            form.get('email').invalid && form.get('email').touched
        }"
      />
    </div>

    <div>
      <p>Phone*</p>
      <input
        required
        class="number-input"
        formControlName="phone"
        [ngClass]="{
          'invalid-input':
            form.get('phone').invalid && form.get('phone').touched
        }"
      />
    </div>

    <div>
      <p>Address</p>
      <input formControlName="address" />
    </div>

    <div>
      <p>Website</p>
      <input formControlName="website" />
    </div>

    <div>
      <button
        type="button"
        [disabled]="form.invalid"
        class="save"
        (click)="savebtn()"
      >
        Save
      </button>
      <button type="button" (click)="discardChanges()">
        Discard
      </button>
    </div>
  </form>
</div>
