* {
  padding: 0;
  margin: 0;
}

#root {
  font-size: 20px;
}

.text {
  display: flex;
}

.text:hover {
  background-color: rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.toggle {
  display: none;
}

.folderMat {
  color: rgba(255, 153, 0, 0.815);
}

.folderElem {
  color: grey;
}

.textEmpty {
  padding-left: 10px;
  font-style: italic;
}
