@import './variables.less';

.headingSetup() {
  color: @blue;
  font-family: @mainFont;
}

body {
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #f8f8f8;
  border-bottom: 2px solid rgb(224, 224, 224);
  margin-bottom: 34px;
  &__wrapper {
    height: 61px;
    width: @contentWidthMobile;
    justify-content: space-between;
  }
  &__logo {
    width: 32px;
  }
  &__navigation {
    padding: 0;
    &__button {
      &--burger {
        div {
          height: 2px;
          width: 27px;
          background-color: black;
          margin: 20% 0;
        }
      }
    }
    &__content {
      height: 100%;
      width: 100vw;
      right: 0;
      top: 59px;
      position: absolute;
      border-bottom: 2px solid rgb(224, 224, 224);
      background-color: #f8f8f8;
      list-style-type: none;

      &__button {
        height: 100%;
        background-color: transparent;
        border: none;
        &:hover {
          background-color: @blue;
          color: white;
        }
      }
    }
  }
}

.main {
  margin-bottom: 19px;
  &__wrapper {
    width: @contentWidthMobile;
  }
  &__header {
    .headingSetup;
    font-size: 46px;
    border-bottom: 2px solid @blue;
    padding-bottom: 5px;
    margin-bottom: 25px;
  }
  &__image {
    width: 100%;
    margin-bottom: 22px;
  }
  &__section {
    &--description {
      margin-bottom: 58px;
      &__header {
        .headingSetup;
        font-size: 31px;
        margin-bottom: 12px;
      }
      &__text {
        font-family: @mainFont;
        font-size: 17.9px;
        letter-spacing: -0.1px;
        line-height: 25px;
        margin-bottom: 12px;
      }
      &__list {
        font-family: @mainFont;
        margin-left: 7px;
      }
      &__listElement {
        font-family: @mainFont;
        font-size: 17px;
      }
    }
    &--related {
      &__header {
        .headingSetup;
        font-size: 31px;
        border-bottom: 2px solid @blue;
        padding-bottom: 5px;
        margin-bottom: 28px;
      }
      &__wrapper {
        &__image {
          padding-top: 2px;
          width: 98.9%;
          margin-bottom: 11px;
        }
        &__title {
          font-family: @mainFont;
          font-weight: 700;
          font-size: 17px;
          color: white;
        }
        &__element {
          &--red,
          &--blue,
          &--yellow,
          &--green {
            text-align: center;
            margin-bottom: 25px;
            width: 47.4%;
          }
          &--red {
            background-color: @red;
          }
          &--blue {
            background-color: @blue;
          }
          &--yellow {
            background-color: @yellow;
          }
          &--green {
            background-color: @green;
          }
        }
      }
    }
  }
}

.footer {
  &__wrapper {
    background-color: @grey;
    width: @contentWidthMobile;
    &__text {
      padding: 13px 0 13px 24px;
      font-family: @mainFont;
      font-weight: 500;
      font-size: 18px;
      color: white;
    }
  }
}

@media (min-width: 767.98px) {
  .header {
    margin-bottom: 28px;
    &__wrapper {
      justify-content: start;
      width: @contentWidthTablet;
    }
    &__navigation {
      display: flex;
      &__button--burger {
        display: none;
      }
      &__content {
        display: flex;
        border: none;
        position: static;
        width: 100%;
        margin: 0;
        margin-left: 26px;
        &__button {
          padding: 0 20px;
        }
      }
    }
  }

  .main {
    &__wrapper {
      width: @contentWidthTablet;
    }
    &__image {
      margin-bottom: 14px;
    }
    &__section {
      &--description {
        &__text {
          font-size: 17.4px;
          margin-bottom: 2px;
        }
      }

      &--related {
        &__header {
          margin-bottom: 22px;
        }
        &__wrapper {
          &__element {
            &--red,
            &--blue,
            &--yellow,
            &--green {
              width: 22.4%;
            }
          }
        }
      }
    }
  }
  .footer {
    &__wrapper {
      width: @contentWidthTablet;
    }
  }
}

@media (min-width: 991.98px) {
  .header {
    margin-bottom: 28px;
    &__wrapper {
      justify-content: start;
      width: @contentWidthDT;
      height: 51px;
    }
    &__navigation {
      display: flex;
      &__button--burger {
        display: none;
      }
      &__content {
        display: flex;
        border: none;
        position: static;
        width: 100%;
        margin: 0;
        margin-left: 8px;
        &__button {
          padding: 0 15px;
        }
      }
    }
  }

  .main {
    &__wrapper {
      width: @contentWidthDT;
      &--DT {
        display: flex;
        justify-content: space-between;
      }
    }
    &__header {
      font-size: 40px;
      margin-bottom: 19px;
    }
    &__image {
      height: 100%;
      margin-bottom: 14px;
      width: 65.7%;
    }
    &__section {
      &--description {
        margin-bottom: 58px;
        width: 31.5%;
        padding-top: 20px;
        &__header {
          font-size: 27px;
          margin-bottom: 7px;
        }
        &__text {
          font-size: 15.2px;
          line-height: 21px;
          margin-bottom: 9px;
        }
        &__listElement {
          line-height: 22px;
        }
      }

      &--related {
        &__header {
          margin-bottom: 22px;
        }
        &__wrapper {
          &__element {
            &--red,
            &--blue,
            &--yellow,
            &--green {
              width: 22.4%;
            }
          }
        }
      }
    }
  }
  .footer {
    &__wrapper {
      width: @contentWidthDT;
    }
  }
}
