@keyframes move {
  from {
    opacity: 0;
    transform: translate(200px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.tm-main-content:first-child .tm-team-description-container h2 {
  text-align: center;
}

.blocks .tm-team-description-container p:last-of-type {
  font-style: italic;
  letter-spacing: 7px;
}

.tm-main-nav li:hover {
  background-color: #87cefa;
}

.tm-main-nav a:hover {
  color: #ffffff;
}

.tm-banner {
  background: linear-gradient(
    90deg,
    rgba(135, 206, 250, 1) 0%,
    rgba(222, 184, 135, 1) 100%
  );
}

.tm-banner-inner {
  background-color: #ffffff;
}

.tm-banner-text {
  text-shadow: 3px 3px 3px #333;
}

.tm-banner-text {
  animation: move 5s;
}

.flex-2-col {
  display: flex;
  align-items: center;
}

.flex-2-col h2 {
  text-align: center;
}

.gallery-container .box-bg:nth-of-type(odd):hover {
  background-color: #d3d3d3;
  color: #87cefa;
  font-style: italic;
}

.heading h2 {
  text-align: center;
  color: #87cefa;
}

.heading ol {
  list-style-type: lower-alpha;
}

.heading li:hover::before {
  content: ">";
}

.text:after {
  content: "New";
  color: red;
  vertical-align: super;
  font-weight: 800;
  font-size: 12px;
  font-variant: small-caps;
  display: inline-block;
}

.gallery-container .box-work {
  padding: 10px;
}

.gallery-container .box-work:nth-of-type(odd) {
  background-color: #87cefa;
}

.gallery-container .box-work p::first-letter {
  font-weight: bold;
}

.tm-section-description {
  line-height: 30px;
  text-indent: 25px;
}

.contact-form input:focus {
  background-color: #87cefa;
}

.tm-sidebar,
section,
.tm-content-header,
/* .tm-content-box, */
.blocks {
  box-shadow: 0px 0px 12px 2px #3d373db3;
}

section::before {
  content: "";
  border-bottom: 60px solid transparent;
  border-left: 60px solid #87cefa;
}

.contact-form {
  text-align: right;
}

.contact-form input {
  border: none;
  border-bottom: 0.5px solid #87cefa;
}

.contact-form textarea {
  border: 0.5px solid skyblue;
  background: url(../img/email-icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 99% 98%;
}

.contact-form textarea:focus {
  border-color: skyblue;
}

.submit-btn {
  color: skyblue;
  padding: 10px 20px;
  font-size: 10px;
  background-color: transparent;
  border: 0.5px solid skyblue;
}
