<div class="mainWrapper">
  <div class="controlsWrapper">
    <input placeholder="Search" [(ngModel)]="searchText" class="filter" />
    <button (click)="listService.addNewContact()" class="addNew">
      Add New User
    </button>
  </div>

  <ul *ngIf="list.length; else noContacts" class="list">
    <li *ngFor="let el of list | filter: searchText" id="{{ el.id }}">
      <app-list-element [list]="el" [index]="el.id"></app-list-element>
    </li>
  </ul>

  <ng-template #noContacts>
    <p class="noContacts"><i>Empty</i></p>
  </ng-template>
</div>
